.success-button {
  background-color: #10e05c;
  color: white;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.right-elements {
  float: right;
}

ul.no-bullets {
  list-style-type: none;
}

