<div class="col-lg-6 col-md-6 col-sm-12">

  <h1>Order summary</h1>

  <hr/>

  <div class="w-100">
    <i-tabler name="confetti"></i-tabler> &nbsp;&nbsp; {{ name }}
  </div>

  <div class="w-100">
    <i-tabler name="calendar-time"></i-tabler>&nbsp;&nbsp;
    {{ formatDate(startDate, 'dd.MM.yyyy, HH:mm', this.locale) }}
    - {{ formatDate(endDate, 'dd.MM.yyyy, HH:mm', this.locale) }}
  </div>

  <div class="w-100">
    <i-tabler name="map-2"></i-tabler>&nbsp;&nbsp;{{ location }}
  </div>

  <br/>

  <div class="w-100">
    <h3>Tickets summary</h3>

    <div class="row w-100">
      <div class="w-50">
        <ol *ngIf="standingCategories.length > 0">
          <ng-container *ngFor="let c of standingCategories; let i = index">
            <li *ngIf="ticketsPerCategory[i] > 0">
              {{ ticketsPerCategory[i] }} x {{ c.name }} tickets
            </li>
          </ng-container>
        </ol>

        <ol *ngIf="seatsCategories.length > 0">
          <ng-container *ngFor="let c of seatsCategories; let i = index">
            <li *ngIf="ticketsPerCategory[i] > 0">
              {{ ticketsPerCategory[i] }} x {{ c }} tickets
            </li>
          </ng-container>
        </ol>
      </div>

      <div class="w-50 right-elements">
        <ul class="no-bullets right-elements" *ngIf="standingCategories.length > 0">
          <ng-container *ngFor="let c of standingCategories; let i = index">
            <li *ngIf="ticketsPerCategory[i] > 0">
              {{ ticketsPerCategory[i] * c.price }} RON
            </li>
          </ng-container>
        </ul>

        <ul class="no-bullets right-elements" *ngIf="seatsCategories.length > 0">
          <ng-container *ngFor="let c of seatsCategories; let i = index">
            <li *ngIf="ticketsPerCategory[i] > 0">
              {{ ticketsPerCategory[i] * seatsPrices[i] }} RON
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <hr/>

    <div class="row w-100">
      <div class="w-50">
        <ul class="no-bullets">
          <li><strong>Subtotal: </strong></li>
        </ul>
      </div>

      <div class="w-50 right-elements">
        <ul class="no-bullets right-elements">
          <li>{{ orderDetails?.total }} RON</li>
        </ul>
      </div>
    </div>

    <div *ngIf="points > 0" class="row w-100">
      <div class="w-60">
        <ul class="no-bullets">
          <li style="text-align: justify">You have {{ points }} discount points, which means a {{ points / 10 }} RON discount. Do you want to use them?</li>
        </ul>
      </div>

      <div class="w-40 right-elements">
        <ul class="no-bullets right-elements">
          <li><mat-checkbox (change)="updateTotal($event)" color="primary" class="example-margin">Yes</mat-checkbox></li>
        </ul>
      </div>
    </div>

    <div class="row w-100" *ngIf="useDiscount">
      <div class="w-50">
        <ul class="no-bullets">
          <li><strong>Discount: </strong></li>
        </ul>
      </div>

      <div class="w-50 right-elements">
        <ul class="no-bullets right-elements">
          <li>-{{ points / 10 }} RON</li>
        </ul>
      </div>
    </div>

    <hr/>

    <div class="row w-100">
      <div class="w-50">
        <ul class="no-bullets">
          <li><strong>TOTAL: </strong></li>
        </ul>
      </div>

      <div class="w-50 right-elements">
        <ul class="no-bullets right-elements">
          <li>{{ total }} RON</li>
        </ul>
      </div>
    </div>

    <br/>
    <br/>

    <button [disabled]="buttonDisabled" mat-flat-button class="success-button w-100" (click)="placeOrder()">
      Go to payment
    </button>
  </div>
</div>
