<div *ngIf="roles.includes('ORGANISER') && eventDto?.status == 'ACCEPTED'">
  <div *ngIf="endDateAsDate <= currentDate" class="col-12">
    <h1>Tickets statistics: {{ eventDto?.soldTickets }} tickets sold, {{ eventDto?.participants }} participants</h1>
  </div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>View options for event</mat-panel-title>
        <mat-panel-description>
          Add raffles, promotions, scan tickets or view orders and reviews
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="button-container">
        <button *ngIf="eventDto?.discount == 0 && currentDate <= endDateAsDate" mat-flat-button color="accent"
                (click)="openPromotionDialog()">Add promotional period
        </button>
        <button *ngIf="eventDto?.canAddRaffle && currentDate <= endDateAsDate" mat-flat-button color="accent"
                (click)="openRaffleDialog()">Add raffle
        </button>
        <button *ngIf="currentDate <= endDateAsDate"
                mat-flat-button color="accent" (click)="goToTicketsScannerPage()">Scan tickets
        </button>
        <button mat-flat-button color="accent" (click)="openOrdersDialog()">View
          orders
        </button>
        <button *ngIf="endDateAsDate <= currentDate" mat-flat-button color="accent"
                (click)="openReviewsDialog()">View reviews
        </button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</div>

<div *ngIf="eventDto?.status == 'PENDING' && (roles.includes('MODERATOR') || roles.includes('ADMIN'))">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>View options for event</mat-panel-title>
        <mat-panel-description>
          Approve or reject event
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="button-container">
        <button mat-flat-button class="success-button" (click)="openApprovalDialog()">Approve</button>
        <button mat-flat-button class="delete-button" (click)="openRejectionDialog()">Reject</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
  <br/>
</div>

<div class="container">
  <div class="background-image" [ngStyle]="{'background-image': 'url(' + eventDto?.logo + ')'}"></div>
  <img [src]="eventDto?.logo" alt="Your Image">
</div>

<br/>

<div class="row justify-content-center">
  <h1>{{ eventDto?.name }}</h1>
  <button mat-icon-button *ngIf="roles.length == 1 && roles.includes('ORGANISER') && eventDto?.status != 'ACCEPTED'"
          (click)="openEditNameDialog()">
    <mat-icon>
      <i-tabler name="edit"></i-tabler>
    </mat-icon>
  </button>
</div>

<br/>
<br/>

<div class="w-100 row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="w-100">
      <i-tabler name="map-2"></i-tabler>&nbsp;
      {{ eventDto?.location?.fullAddress }}
    </div>

    <div class="w-100">
      <i-tabler name="calendar-time"></i-tabler>&nbsp;
      {{ formatDate(startDate, 'dd.MM.yyyy, HH:mm', this.locale) }}
      - {{ formatDate(endDate, 'dd.MM.yyyy, HH:mm', this.locale) }}
    </div>

    <div class="w-100">
      <i-tabler name="bulb"></i-tabler>
      Event organized by {{ eventDto?.organiserName }}
    </div>

    <br/>

    <div class="w-100 description">
      <div class="w-100 row">
        <h2>Event details</h2>
        <button mat-icon-button
                *ngIf="roles.length == 1 && roles.includes('ORGANISER') && eventDto?.status != 'ACCEPTED'"
                (click)="openEditDescriptionDialog()">
          <mat-icon>
            <i-tabler name="edit"></i-tabler>
          </mat-icon>
        </button>
      </div>
      <div [innerHTML]="eventDto?.description"></div>
    </div>

    <div class="w-100" *ngIf="eventDto?.charitableCause != undefined">
      <br/>
      <div class="w-100 row">
        <h2>This event supports a charitable cause</h2>
        <button mat-icon-button
                *ngIf="roles.length == 1 && roles.includes('ORGANISER') && eventDto?.status != 'ACCEPTED'"
                (click)="openEditCharitableCauseDialog()">
          <mat-icon>
            <i-tabler name="edit"></i-tabler>
          </mat-icon>
        </button>
      </div>
      <h2>{{ eventDto?.charityPercentage }}% from tickets value go to {{ eventDto?.charitableCause!.name! }}</h2>
      <p>{{ eventDto?.charitableCause!.description! }}</p>
      <p><strong>{{ eventDto?.charitableCause!.collectedAmount! }}</strong> RON raised from a needed amount of
        <strong>{{ eventDto?.charitableCause!.neededAmount! }} RON</strong>
      </p>
    </div>

    <div class="w-100" *ngIf="discount > 0">
      <br/>
      <h2>Promotional period</h2>
      <p>All tickets are <strong>{{ discount }}% off
        until {{ formatDate(discountEndDate, 'dd.MM.yyyy', this.locale) }}</strong>.</p>
      <p>The discount is already applied on the prices!</p>
    </div>

    <div class="w-100" *ngIf="eventDto?.raffle != undefined">
      <br/>
      <h2>This event has an active raffle</h2>
      <p *ngIf="eventDto?.raffle!.participantsLimit! == 0">
        All customers that place an order for this event
        <strong>until {{ formatDate(eventDto?.raffle!.endDate!, 'dd.MM.yyyy', this.locale) }}</strong>
        automatically enter into the drawing for winning a <strong>voucher with {{ eventDto?.raffle!.prize! }}% discount
        at {{ eventDto?.raffle!.partnerName! }}</strong>!
      </p>
      <p *ngIf="eventDto?.raffle!.participantsLimit! > 0">
        First {{ eventDto?.raffle!.participantsLimit! }} customers win a <strong>voucher
        with {{ eventDto?.raffle!.prize! }}% discount
        at {{ eventDto?.raffle!.partnerName! }}</strong>!
      </p>
    </div>
  </div>

  <div class="col-lg-6 col-md-12 col-sm-12">
    <iframe
      width="100%"
      height="100%"
      style="border:0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      [src]="safeMapsUrl">
    </iframe>
  </div>
</div>

<br/>
<hr/>

<div *ngIf="roles.length == 1 && !roles.includes('USER')" class="w-100">

  <div class="w-100 row" *ngIf="standingCategories.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="w-100 row">
        <h2>Tickets prices</h2>
        <button mat-icon-button
                *ngIf="roles.length == 1 && roles.includes('ORGANISER') && eventDto?.status != 'ACCEPTED'"
                (click)="openPricesEditDialog()">
          <mat-icon>
            <i-tabler name="edit"></i-tabler>
          </mat-icon>
        </button>
      </div>

      <p>
        <mat-icon>
          <i-tabler name="help"></i-tabler>
        </mat-icon>
        The fee is supported by {{ eventDto?.feeSupporter }}
      </p>

      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="standingCategories" class="w-100 table-striped">

          <!-- Position Column -->
          <ng-container matColumnDef="category">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Category
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ element.name }}
                </h6>
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Price
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <span *ngIf="discount > 0"
                    class="f-s-14 m-l-4 text-decoration-line-through">{{ element.initialPrice }}</span>&nbsp;
              {{ element.price }} RON
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="cart">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
              style="visibility: hidden"
            >
              Add to cart
            </th>
            <td mat-cell *matCellDef="let i = index;" class="mat-body-1" style="visibility: hidden">
              <div class="number-input">
                <button class="minus-button" (click)="decreaseValue(i)">-</button>
                <input type="text" [value]="ticketsPerCategory[i]" readonly>
                <button class="plus-button" (click)="increaseValue(i)">+</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

  </div>

  <div class="w-100 row" *ngIf="seatsCategories.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="w-100 row">
        <h2>Tickets prices</h2>
        <button mat-icon-button
                *ngIf="roles.length == 1 && roles.includes('ORGANISER') && eventDto?.status != 'ACCEPTED'"
                (click)="openPricesEditDialog()">
          <mat-icon>
            <i-tabler name="edit"></i-tabler>
          </mat-icon>
        </button>
      </div>

      <p>
        <mat-icon>
          <i-tabler name="help"></i-tabler>
        </mat-icon>
        The fee is supported by {{ eventDto?.feeSupporter }}
      </p>

      <div class="row w-100">
        <div class="w-50">
          <ul>
            <ng-container *ngFor="let sc of seatsCategories; let i = index">
              <li>
                <strong>{{ sc.name }}:</strong> rows {{ sc.minRow }} - {{ sc.maxRow }}, seats {{ sc.minSeat }}
                - {{ sc.maxSeat }}
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="w-25 right-elements">
          <ul class="no-bullets right-elements">
            <ng-container *ngFor="let sc of seatsCategories; let i = index">
              <li>
                <span *ngIf="discount > 0"
                      class="f-s-14 m-l-4 text-decoration-line-through">{{ sc.initialPrice }}</span>&nbsp;
                {{ sc.price }} RON
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>

    <br/>
    <br/>
    <br/>

  </div>

</div>

<div *ngIf="roles.length == 1 && roles.includes('USER')" class="w-100">

  <div class="w-100 row" *ngIf="standingCategories.length > 0">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Buy tickets</h2>
      <p>
        <mat-icon>
          <i-tabler name="help"></i-tabler>
        </mat-icon>
        The fee is supported by {{ eventDto?.feeSupporter }}
      </p>
      <p>You can add to cart maximum 10 tickets.</p>

      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="standingCategories" class="w-100 table-striped">

          <!-- Position Column -->
          <ng-container matColumnDef="category">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Category
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ element.name }}
                </h6>
              </div>
              <p *ngIf="element.ticketsRemaining <= 100">Last {{ element.ticketsRemaining }} tickets</p>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Price
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              <span *ngIf="discount > 0"
                    class="f-s-14 m-l-4 text-decoration-line-through">{{ element.initialPrice }}</span>&nbsp;
              {{ element.price }} RON
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="cart">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Add to cart
            </th>
            <td mat-cell *matCellDef="let i = index;" class="mat-body-1">
              <div class="number-input">
                <button class="minus-button" (click)="decreaseValue(i)">-</button>
                <input type="text" [value]="ticketsPerCategory[i]" readonly>
                <button class="plus-button" (click)="increaseValue(i)">+</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 w-100" *ngIf="getTotalTickets() > 0">
      <h2>Order summary</h2>

      <div class="row w-100">
        <div class="w-50">
          <ol>
            <ng-container *ngFor="let c of standingCategories; let i = index">
              <li *ngIf="ticketsPerCategory[i] > 0">
                {{ ticketsPerCategory[i] }} x {{ c.name }} tickets
              </li>
            </ng-container>
          </ol>
        </div>

        <div class="w-50 right-elements">
          <ul class="no-bullets right-elements">
            <ng-container *ngFor="let c of standingCategories; let i = index">
              <li *ngIf="ticketsPerCategory[i] > 0">
                {{ (ticketsPerCategory[i] * c.price).toFixed(2) }} RON
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

      <hr/>

      <div class="row w-100">
        <div class="w-50">
          <ul class="no-bullets">
            <li><strong>Total: </strong></li>
          </ul>
        </div>

        <div class="w-50 right-elements">
          <ul class="no-bullets right-elements">
            <li>{{ getTotalAmountForStandingEvent().toFixed(2) }} RON</li>
          </ul>
        </div>
      </div>

      <button mat-flat-button class="success-button w-100" (click)="sendDataToOrderPage()">
        Place order
      </button>
    </div>
  </div>

  <div class="w-100 row" *ngIf="seatsCategories.length > 0">
    <div class="col-lg-6 col-md-12 col-sm-12">
      <h2>Buy tickets</h2>
      <p>
        <mat-icon>
          <i-tabler name="help"></i-tabler>
        </mat-icon>
        The fee is supported by {{ eventDto?.feeSupporter }}
      </p>

      <div class="row w-100">
        <div class="w-50">
          <ul>
            <ng-container *ngFor="let sc of seatsCategories; let i = index">
              <li>
                <strong>{{ sc.name }}:</strong> rows {{ sc.minRow }} - {{ sc.maxRow }}, seats {{ sc.minSeat }}
                - {{ sc.maxSeat }}
              </li>
            </ng-container>
          </ul>
        </div>

        <div class="w-25 right-elements">
          <ul class="no-bullets right-elements">
            <ng-container *ngFor="let sc of seatsCategories; let i = index">
              <li>
                <span *ngIf="discount > 0"
                      class="f-s-14 m-l-4 text-decoration-line-through">{{ sc.initialPrice }}</span>&nbsp;
                {{ sc.price }} RON
              </li>
            </ng-container>
          </ul>
        </div>
      </div>

      <p>Please select the seats from the map below. You can select maximum 10 tickets.</p>
    </div>

    <br/>
    <br/>
    <br/>

  </div>

  <div class="row w-100" *ngIf="seatsCategories.length > 0">
    <!-- Seats map starts here -->
    <div class="w-100 seat-container">
      <div class="w-100" *ngFor="let seatrow of seatmap ">
        <div class="col-12 pricing-label"
             *ngIf="seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">{{ seatrow.seatPricingInformation }}
        </div>
        <div class="seatrow col-lg-12">
          <div *ngIf="seatChartConfig?.showRowsLabel">
            <div class="row-label">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ seatrow.seatRowLabel }}
            </div>
          </div>
          <div *ngFor="let seatobj of seatrow.seats">
            <div class="seat-item seat-space" style="color:white ; background-color:white"
                 *ngIf="seatobj.seatLabel == ''"> &nbsp;
            </div>
            <div matTooltip="{{seatobj.seatLabel}} | {{ seatobj.category }} | {{seatobj.price}} RON"
                 matTooltipPosition="above"
                 [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }"
                 (click)="selectSeat(seatobj)"
                 *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">{{ seatobj.seatNo }}
            </div>

            <div matTooltip="Seat not available" matTooltipPosition="above"
                 [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                 *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{ seatobj.seatNo }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- *ngIf="cart?.selectedSeats?.length > 0" -->
    <div class="col-lg-12">
      <div class="col-lg-12 summary-bar">
        <div class="col-lg-4">
          <div>
            <h5>Total Selected: {{ cart?.selectedSeats?.length }}</h5>
            <h5>Total Amount:&nbsp;&nbsp; {{ cart.totalamount.toFixed(2) }} RON</h5>
          </div>
        </div>
        <div class="col-lg-8 selected-seats">
          <h5 class="col-lg-12 no-padding">Selected Seats : </h5>
          <span *ngFor="let s of cart.selectedSeats" class="badge badge-primary">Row {{ s.row }}
            , seat {{ s.seat }}</span>
        </div>
      </div>
      <div class="book-area">
        <button [disabled]="cart?.selectedSeats?.length == 0"
                mat-flat-button class="success-button w-100" (click)="sendDataToOrderPage()">
          Place order
        </button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="roles.length == 0">
  <h3 class="icon-text">
    <mat-icon>
      <i-tabler name="info-circle" class="icon-20"></i-tabler>
    </mat-icon>
    You need to be authenticated to buy tickets
  </h3>
</div>

<br/>
<br/>
<br/>
<br/>
