<mat-toolbar class="topbar">
  <!-- Mobile Menu -->
  <button mat-icon-button (click)="toggleMobileNav.emit()" >
    <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
  </button>
  <!-- --------------------------------------------------------------- -->

  <app-branding></app-branding>

  <span class="flex-1-auto"></span>

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->

<!--  <button mat-icon-button aria-label="Notifications">-->
<!--    <i-tabler-->
<!--      class="d-flex"-->
<!--      name="bell"-->
<!--      matBadge="1"-->
<!--      matBadgeColor="primary"-->
<!--    ></i-tabler>-->
<!--  </button>-->

  <p>{{ userName }}</p>
  <!-- --------------------------------------------------------------- -->
  <!-- profile Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button
    *ngIf="userName != ''"
    mat-icon-button
    [matMenuTriggerFor]="profilemenu"
    aria-label="Notifications"
  >
    <img
      src="/assets/images/profile/profile-picture.png"
      class="rounded-circle object-cover"
    />
  </button>
  <mat-menu #profilemenu="matMenu" class="topbar-dd cardWithShadow">
    <button mat-menu-item (click)="goToProfilePage()">
      <mat-icon class="d-flex align-items-center"
        ><i-tabler name="user" class="icon-18 d-flex"></i-tabler></mat-icon
      >My Profile
    </button>

    <button mat-menu-item (click)="goToStatisticsPage()">
      <mat-icon class="d-flex align-items-center"
      ><i-tabler name="device-desktop-analytics" class="icon-18 d-flex"></i-tabler></mat-icon
      >Statistics
    </button>

    <div class="p-x-12 m-t-12 form-group">
      <form class="m-t-30" (ngSubmit)="logout()">
        <button
          mat-flat-button
          color="accent"
          class="w-100"
          >Logout
        </button>
      </form>
    </div>
  </mat-menu>
</mat-toolbar>
