<h1 style="text-align: center">Tickets scanner</h1>

<div class="col-md-6 scanner-container">
  <zxing-scanner
    #scanner
    *ngIf="startCamera$ | async"
    class="scanner"
    [enable]="(enable$ | async) ?? false"
    [autostart]="true"
    [device]="(selectedDevice$ | async) ?? undefined"
    [formats]="allowedFormats"
    (camerasFound)="devices$.next($event)"
    (scanSuccess)="scanSuccess$.next($event)"
    (scanError)="scanError($event)"
  ></zxing-scanner>
</div>

<div *ngIf="ticketInfo != undefined" class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 scan-result">
    <p>Event: {{ eventName }}</p>
    <p>Date: {{ formatDate(startDate, 'dd.MM.yyyy, HH:mm', this.locale) }}</p>
    <p>Location: {{ ticketInfo?.locationAddress }}</p>
    <p>Category: {{ ticketInfo?.category }}</p>
    <p *ngIf="ticketInfo?.row != 0">Row: {{ ticketInfo?.row }}</p>
    <p *ngIf="ticketInfo?.seat != 0">Seat: {{ ticketInfo?.seat }}</p>
    <button *ngIf="showButton" mat-flat-button class="success-button" (click)="validateTicket()">Validate ticket</button>
    <button *ngIf="showNextScanButton" mat-flat-button color="primary" (click)="newScan()">Scan another ticket</button>
  </div>
  <div class="col-md-3"></div>
</div>

<div *ngIf="!showNextScanButton" class="toggle-camera-btn-container">
  <button
    class="toggle-camera-btn"
    mat-flat-button
    color="primary"
    (click)="toggleCamera$.next(true)"
  >
    Toggle Camera
  </button>
</div>
