.organiser-register {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.address-info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.success-button {
  background-color: #10e05c !important;
  color: white !important;
}

.success-button:disabled {
  background-color: #10e05c80 !important; /* Slightly transparent when disabled */
}
