<form class="m-t-30">
  <mat-card-header>
    <mat-card-title><h1>Discover the latest events</h1></mat-card-title>
  </mat-card-header>

  <br/>

  <div class="w-100" style="padding-left: 24px; padding-right: 24px;">
    <mat-form-field class="w-100">
      <span matPrefix> </span>
      <input type="tel" matInput placeholder="Search events by name" name="search" [(ngModel)]="search"
             (ngModelChange)="onSearchChange($event)">
      <button matSuffix mat-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <br/>

  <mat-card-content>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let event of events">
        <mat-card class="cardWithShadow event overflow-hidden">
          <a (click)="router.navigate(['events', event.id])">
            <img
              src="{{ event.logo }}"
              alt="imgSrc"
              class="w-100 event-logo"
              mat-card-image
            />
          </a>

          <mat-card-content class="p-b-24 p-t-12 position-relative">
            <button
              mat-mini-fab
              color="secondary"
              class="cart-btn"
              matTooltip="View details and buy tickets"
              (click)="router.navigate(['events', event.id])"
            >
              <i-tabler name="shopping-cart" class="icon-16"></i-tabler>
            </button>
            <mat-card-title class="mat-headline-2 f-s-16 m-b-4">{{ event.name }}</mat-card-title>
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <i-tabler name="calendar-time"></i-tabler>&nbsp;
                <p class="mat-body-1">{{ formatDate(event.startDate, 'dd.MM.yyyy, HH:mm', this.locale) }} - {{ formatDate(event.endDate, 'dd.MM.yyyy, HH:mm', this.locale) }}</p>
              </div>
            </div>
            <div class="d-flex">
              <i-tabler name="map-pin"></i-tabler>&nbsp;
              <div class="d-flex">
                <p class="mat-body-1">{{ event.location }}</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-card-content>

  <mat-paginator [length]="totalEvents" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>
</form>
