<h1>Add seated location</h1>

<br/>

<mat-stepper [linear]="true">
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add main details</ng-template>

      <br/>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Name
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Location name" formControlName="name" />
            <mat-error *ngIf="form.controls['name'].hasError('required')">Name is required</mat-error>
          </mat-form-field>

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            City
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="City" id="city" name="city" formControlName="city" />
            <mat-error *ngIf="form.controls['city'].hasError('required')">City is required</mat-error>
          </mat-form-field>

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Number of rows
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Number of rows" type="number" id="numberOfRows" name="numberOfRows" formControlName="numberOfRows" />
            <mat-error *ngIf="form.controls['numberOfRows'].hasError('required')">Number of rows is required</mat-error>
            <mat-error *ngIf="form.controls['numberOfRows'].hasError('min')">Number of rows must be at least 1</mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6 col-sm-12">
          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Country
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Country" id="country" name="country" formControlName="country" />
            <mat-error *ngIf="form.controls['country'].hasError('required')">Country is required</mat-error>
          </mat-form-field>

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Address
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Address" id="address" name="address" formControlName="address" />
            <mat-error *ngIf="form.controls['address'].hasError('required')">Address is required</mat-error>
          </mat-form-field>

          <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">
            Seats per row
          </mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Seats per row" type="number" id="seatsPerRow" name="seatsPerRow" formControlName="seatsPerRow" />
            <mat-error *ngIf="form.controls['seatsPerRow'].hasError('required')">Seats per row is required</mat-error>
            <mat-error *ngIf="form.controls['seatsPerRow'].hasError('min')">Seats per row must be at least 1</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div>
        <button matStepperNext mat-flat-button color="primary">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form" label="Add seats categories">
    <form [formGroup]="form">
      <ng-template matStepLabel>Add seats categories</ng-template>

      <br/>
      <div class="row">
        <div class="col-sm-8">
          <h3>Define seats categories</h3>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <button mat-flat-button color="primary" (click)="addCategory()">Add category</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-flat-button class="delete-button" (click)="deleteCategory()">Remove last category</button>
          </div>
        </div>
      </div>
      <br/>

      <div formArrayName="seatsPerCategory">
        <div *ngFor="let category of $any(seatsPerCategory).controls; let i = index" [formGroupName]="i">
          <app-add-seats-category [formGroup]="category"></app-add-seats-category>
        </div>
      </div>

      <br/>

      <div class="row">
        <button mat-flat-button color="accent" matStepperPrevious>Back</button>
        &nbsp;&nbsp;
        <button mat-flat-button class="success-button" (click)="onSubmit()">Save location</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
